@model IEnumerable<CicloMania.Models.articulo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Agregar Articulo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imagen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codigoArticulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            <img width="50" height="50" src="@Url.Action("getImage", "articulo" , new { id = item.articuloid })" /> 
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.codigoArticulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.articuloid }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.articuloid }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.articuloid })
        </td>
    </tr>
}

</table>
