@model CicloMania.Models.mantenimientos

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>Esta seguro que quiere eliminar esta ficha de mantenimiento?</h3>
<div>
    <h4>mantenimientos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoMantenimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoMantenimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.detallesArreglo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.detallesArreglo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
