@model IEnumerable<CicloMania.Models.envio>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista</h2>

<p>
    @Html.ActionLink("Agregar Envio", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaEnvio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.factura.facturaid)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaEnvio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.factura.facturaid)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.envioid }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.envioid }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.envioid })
        </td>
    </tr>
}

</table>
