@model CicloMania.Models.factura

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>factura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.articulo.marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.articulo.marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cliente.cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cliente.cedula)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.facturaid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
