@model CicloMania.Models.inventario

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>Esta seguro que quiere eliminar este inventario?</h3>
<div>
    <h4>inventario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.codigoArticulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigoArticulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidadStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidadStock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.proveedor.cedulaJuridica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proveedor.cedulaJuridica)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
