@model CicloMania.Models.inventario

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>inventario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.codigoArticulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigoArticulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidadStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidadStock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.proveedor.cedulaJuridica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proveedor.cedulaJuridica)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.inventarioid }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
